In [14]:
import ibis
from ibis import _

con = ibis.duckdb.connect()

df = (con.
      read_csv("landvote.csv")
      .mutate(amount = _["Conservation Funds Approved"])
      .mutate(conservation_funds_approved=_.amount.replace('$', '').replace(',', '').cast('float'))
      .mutate(year = _.Date.year())
     )

In [15]:
cols = ['State',
 'Jurisdiction Name',
 'Jurisdiction Type',
 'Date',
 'Description',
 'Finance Mechanism',
 '"Other" Comment',
 'Purpose',
 'Conservation Funds at Stake',
 'Pass?',
 'Status',
 '% Yes',
 '% No',
 'Notes',
 'Voted Acq. Measure',
 'amount',
 'conservation_funds_approved',
 'year']

df.select(cols).to_csv("data.csv")

In [18]:
df.group_by(_.State).agg(n = _.conservation_funds_approved.sum()).order_by(_.n.desc()).head().execute()

  State             n
0    CA  1.907187e+10
1    FL  1.411086e+10
2    NJ  1.223420e+10
3    CO  6.011241e+09
4    MN  5.963134e+09

In [22]:
df.filter(_.Status == "Fail").group_by(_.State).agg(n = _.count()).order_by(_.n.desc()).execute()

   State    n
0     MA  132
1     NJ  128
2     CO   47
3     CA   47
4     IL   37
5     PA   35
6     WA   34
7     OH   26
8     MI   23
9     FL   19
10   Ore   15
11    NC   13
12    CT   13
13    NY   12
14    TX   11
15    GA    9
16    AZ    9
17    MN    7
18    UT    7
19    WI    6
20    AK    5
21    NV    4
22    VA    4
23    ID    4
24    MT    4
25    NM    3
26    ME    3
27    OK    2
28    RI    2
29    LA    2
30    AR    2
31    MS    2
32    SC    2
33    ND    1
34    TN    1
35    NE    1
36    IA    1
37    KY    1